<!DOCTYPE html>
<html style="scroll-behavior: smooth;" lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AwesomeWebz | Software Development Company</title>
    <link rel="icon" type="image/x-icon" href="/img/logo.png">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link
        href="https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=Poppins:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet"> -->
</head>

<body>
    <!-- header starts -->
    <header class="h-screen">
        <nav id="nav" class="shadow lg:h-16  h-12">
            <div class="container mx-auto flex items-center font-awBrand justify-between">
                <a href="/">
                    <div class="flex  items-center ml-2">
                        <img class="lg:h-12 h-8 w-8 lg:w-12 mt-2 rounded-full" src="./img/logo.png" alt="aw-logo">
                        <div class="text-aw-500 font-medium mt-2 ml-1 text-xl tracking-wide">wesomeWebz</div>
                    </div>
                </a>

                <div id="nav-item" class="flex text-aw-500 items-center">
                    <ul class="flex font-medium font-awBrand">
                        <a href="/about">
                            <li class="nav-item">About Us</li>
                        </a>
                        <a href="/#contact">
                            <li class="nav-item">Contact Us</li>
                        </a>
                        <a href="/#services">
                            <li class="nav-item">Services</li>
                        </a>
                        <a href="/#techStack">
                            <li class="nav-item">Technology Stack</li>
                        </a>
                    </ul>

                    <a href="/#contact">
                        <button class="btn btn-primary ml-20 ">
                            Start Project
                        </button>
                    </a>
                </div>



            </div>
        </nav>

        <!-- mobile view -->
        <div id="hamIcon" class="absolute top-4 right-5 cursor-pointer">
            <div class="w-6 bg-gray-600 h-0.5 mb-1"></div>
            <div class="w-6 bg-gray-600 h-0.5 mb-1"></div>
            <div class="w-6 bg-gray-600 h-0.5 mb-1"></div>

        </div>
        <div id="crossIcon" class=" hidden absolute top-4 right-5 cursor-pointer">
            <img class="w-6" src="./img/cross.svg" alt="cross">
        </div>
        <div id="mobileMenu" class="text-white absolute right-0 -top-full  w-1/2 bg-aw-500 rounded-2xl py-4 text-center  transition-all ease-in-out duration-300">
            
                <ul class="font-medium font-awBrand">
                    <a href="/about">
                        <li class="mb-4">About Us</li>
                    </a>
                    <a href="/#contact">
                        <li class="mb-4">Contact Us</li>
                    </a>
                    <a href="/#services">
                        <li class="mb-4">Services</li>
                    </a>
                    <a href="/#techStack">
                        <li class="mb-4">Technology Stack</li>
                    </a>
                </ul>

               <a href="/#contact">
                <button class="btn bg-white text-aw-500 hover:bg-slate-100">
                    Start Project
                </button>
               </a>
        </div>
        <!-- hero starts -->
        <section class="flex lg:flex-row flex-col-reverse container mx-auto justify-between lg:text-left ">
            <div class="md:w-2/5 w-full">
                <h1 class="text-3xl lg:text-left text-center mt-4 lg:text-5xl lg:mt-20 font-awBrand font-semibold tracking-wide leading-tight text-aw-500">
                    Get Equiped </br> with Technology
                </h1>
                <p class="text-aw-300 mt-6 px-6 lg:px-0 text-justify lg:text-lg text-md">
                    Awesomewebz is the innovative website develpoment and App development company that gives wings to
                    the business by using today's technologies . We offer a wide range of website development and App
                    development services as per need with our great team that produces best results. <br>
                    So, What are you waiting for ? Schedule project discussion now........
                </p>

                <a href="/#contact">
                    <button class="btn btn-primary ml-6 lg:ml-0 mt-10">Get In Touch</button>
                </a>
            </div>
            <div class="md:w-7/12 lg:-mt-6">
                <img src="./img/hero.png" alt="aw-team">
            </div>
        </section>
    </header>

    <!-- about section starts -->

    <section class="bg-gray-50 lg:mt-10 lg:py-10 py-5">
        <h2 class="pt-2 pb-4 text-center text-2xl lg:text-3xl font-semibold text-aw-500">About AwesomeWebz</h2>
        <div class="flex lg:flex-row flex-col  container mx-auto mt-2 lg:mt-8 pb-8 justify-evenly">
            <img class="w-11/12 block mx-auto lg:w-5/12 rounded-md" src="./img/knowus.jpg" alt="about awesomewebz">
            <div class="lg:w-1/2 px-6 lg:px-0 lg:mt-0 mt-3 w-full text-justify text-aw-300 text-md lg:text-lg">
                <p>Awesomewebz is on the mission of digital transformation that helps
                    to make your presence online , so you can compete with big giants in the market and create an impact .
                    We use new technologies to customize the work that will stand out from the crowd. </p>
                <h3 class="font-medium text-aw-400 mt-3">Our Mission</h3>
                <p class="mt-2">To bring innovation in business through technology and help them to make their presence online.....</p>

                <button class="btn btn-primary lg:my-8 mb-4 mt-8 text-lg">
                    Know More
                  </button>
            </div>
        </div>
        
    </section>



    <!-- Services stack -->

    <section id="services" class="lg:py-10 py-5">
        <h2 class="pt-2 pb-6 text-center text-2xl lg:text-3xl font-semibold text-aw-500">Our Services</h2>

        <div class="flex mx-auto container flex-wrap lg:mt-20 justify-evenly">

            <div class="w-80 lg:w-96 my-10 lg:my-0 shadow-md hover:shadow-lg rounded-md px-4 pb-6 cursor-pointer ">
               <img class="bg-aw-500 px-4 pt-3 pb-2 w-20 block mx-auto -mt-8 rounded-md" src="./img/web.png" alt="web dev">
               <h4 class="text-aw-500 text-center mt-3 text-xl font-medium">Web Development</h4>
               <p class="text-aw-300 text-center mt-3">We offer a wide range of website development services by using new and more efficient technologies  as per client's needs  </p>
            </div>

            <div class="w-80 lg:w-96 my-10 lg:my-0 shadow-md hover:shadow-lg rounded-md px-4 pb-6 cursor-pointer">
                <img class="bg-aw-500 pr-3 pl-5 pt-3 pb-2 w-20 block mx-auto -mt-8 rounded-md" src="./img/app.png" alt="web dev">
                <h4 class="text-aw-500 text-center mt-3 text-xl font-medium">App Development</h4>
                <p class="text-aw-300 text-center mt-3">We offer  customize App Development services with our passionate and enthusiastic team that produce the best outcome </p>
             </div>

             <div class="w-80 lg:w-96 my-10 lg:my-0 shadow-md hover:shadow-lg rounded-md px-4 pb-6 cursor-pointer">
                <img class="bg-aw-500 px-4 pt-3 pb-2 w-20 block mx-auto -mt-8 rounded-md" src="./img/manage.png" alt="Software Management">
                <h4 class="text-aw-500 text-center mt-3 text-xl font-medium">Software Management</h4>
                <p class="text-aw-300 text-center mt-3">We offer software management services for your pre-build software application at affordable price </p>
             </div>
        </div>
        
    </section>


    <!-- tools and Technologies we use -->
    <section id="techStack" class="bg-slate-50 py-5 lg:py-10">
        <h2 class="pt-2 text-center text-2xl px-6 lg:text-3xl font-semibold text-aw-500">Tools And Technologies We Work On</h2>

        <div class="flex flex-wrap container mx-auto justify-evenly my-5 lg:my-14 w-full">
            <img class="w-8 lg:w-14 opacity-60" src="./img/node.svg" alt="Node Js">
            <img class="w-8 lg:w-14 opacity-60" src="./img/react.svg" alt="React Js">
            <img class="w-8 lg:w-14 opacity-60" src="./img/html.svg" alt="HTML">
            <img class="w-8 lg:w-14 opacity-60" src="./img/css.svg" alt="CSS">
            <img class="w-8 lg:w-14 opacity-60" src="./img/js.svg" alt="Javascript">
            <img class="w-8 lg:w-14 opacity-60" src="./img/figma.svg" alt="Figma">
            <img class="w-8 lg:w-14 opacity-60 mx-5" src="./img/tailwindcss-icon.svg" alt="Tailwind CSS">
           
        </div>
        
    </section>


    <!-- final call to action -->
    <section class="py-10 bg-aw-500 text-white">

        <h3 class="font-semibold text-2xl text-center tracking-normal">
            Have an Project? <br>
            Start Project with New and Powerfull Technologies

        </h3>
        <a href="/#contact">
            <button class="btn block w-38  mx-auto mt-6 bg-white text-aw-500 hover:bg-slate-100">Start Project</button>
        </a>

    </section>

    <!-- Contact Us -->
    <section id="contact" class="box-border lg:py-10 py-5 mb-6">
        <h2 class="pt-2 text-center text-2xl lg:text-3xl font-semibold text-aw-500">
            Contact Now
        </h2>
        <p class="text-center text-aw-300 mt-3">Have an Idea ? Fill The Form</p>
        <form method="post" action="/contact" class="container mx-auto mt-10">
            <div class="flex lg:flex-row flex-col lg:w-2/3 w-11/12 mx-auto justify-evenly mb-6">
                <div class="w-full lg:w-5/12 mb-4 lg:mb-0">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Name</label>
                    <input name="name" required class="border-2 rounded-md border-aw-300 focus:border-blue-300 w-full outline-none bg-slate-50 p-3" type="text" placeholder="Enter Your Name">
                </div>
                <div class="w-full lg:w-5/12 mb-4 lg:mb-0">
                    <label for="email" class="block mb-2 text-sm font-medium text-gray-900">Email</label>
                    <input name="email" required class="border-2 rounded-md border-aw-300 focus:border-blue-300 w-full outline-none bg-slate-50 p-3"  type="email" placeholder="Enter Your Email">
                </div>
            </div>

            <div class="flex lg:flex-row flex-col lg:w-2/3 w-11/12 mx-auto justify-evenly">
                <div class="w-full lg:w-5/12 mb-4 lg:mb-0">
                    <label for="mobile" class="block mb-2 text-sm font-medium text-aw-400">Mobile</label>
                    <input name="mobile" required class="border-2 rounded-md border-aw-300 focus:border-blue-300 w-full outline-none bg-slate-50 p-3" type="text" placeholder="Enter Your Mobile">
                </div>
                <div class="w-full lg:w-5/12 mb-4 lg:mb-6">
                    <label for="company" class="text-aw-400 block mb-2 text-sm font-medium">Company/Business</label>
                    <input name="company" required class="border-2 rounded-md border-aw-300 focus:border-blue-300 w-full outline-none bg-slate-50 p-3"  type="text" placeholder="Enter Your Company or Business Name">
                </div>
            </div>
            <div class="w-11/12 lg:w-7/12 mx-auto justify-evenly mb-6">
                <label for="company" class="text-aw-400 block mb-2 text-sm font-medium">Your Message</label>
                <textarea name="message" required class="border-2 rounded-md border-aw-300 focus:border-blue-300 w-full outline-none bg-slate-50 p-3" name="" id="" rows="5" placeholder="Leave a comment..."></textarea>
            </div>

            <div class="text-center">
                <button class="btn btn-primary">Send Message</button>
            </div>
        </form>

    </section>

    <!-- footer -->
    <footer class="py-3 bg-aw-500 text-white">
        <div class="w-16 mx-auto mb-2">
            <img class="w-full rounded-full border border-slate-50" src="./img/logo.png" alt="AwesomeWebz">
        </div>
        <h2 class="text-center text-lg mb-2">AwesomeWebz</h2>
        <p class="text-center text-slate-400">copyright &copy; 2023 | all right reserved <a href="https://www.awesomewebz.com">awesomeWebz</a> </p>
    </footer>


    <script src="./js/nav.js"></script>
</body>

</html>